$color-background: #000000;
$color-foreground: #ffffff;
$color-link: #000000;
$font-sans: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    Noto Sans, "Apple Color Emoji", "Segoe UI Emoji";

$container-max-width: 1480px;
$container-padding-inline: 1rem;